* {
    font-family: sans-serif;
    background-color: gainsboro;
}

.title {
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    text-align: center;
}

label[for="toggle-audio"] {
    margin-right: 16px;
}

#group-remote-media {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
}

#group-remote-media video {
    background-color: white;
    width: 100%;
    padding: 8px;
}